@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    .allfont {
        font-family: "Onest", sans-serif;
    }
    .no-arrows {
        -moz-appearance: textfield; /* Firefox */
        -webkit-appearance: none; /* Chrome, Safari, Edge */
        appearance: none; /* Standard */
    
        /* Optionally, hide spinners in Chrome */
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
    }
}